.image img {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.card {
  background-color: #ffa500;
  /* margin-right: 10%; */
  width: 350px;
}

.card__top {
  display: flex;
  justify-content: space-between;
  margin: 3%;
}

.card__title {
  margin: 3%;
}

.card__bottom {
  display: flex;
  justify-content: flex-end;
  margin: 3%;
}

.card__bottom button {
}

@media only screen and (max-width: 800px) {
  .card {
    width: 80%;
  }
}
