/* .image img {
  border-radius: 5px;
} */

.card {
  background-color: #3c3c3c;
  /* margin-right: 10%; */
  width: 350px;
  border-radius: 5px;
}

.card__top {
  display: flex;
  justify-content: space-between;
  margin: 3%;
}

.card__title {
  margin: 3%;
  color: white;
  font-weight: bolder;
}

.card__bottom {
  display: flex;
  justify-content: flex-end;
  margin: 3%;
}

.card__bottom button {
}

.wishlist {
  background-color: #3c3c3c;
  border: none;
  cursor: pointer;
}

.price {
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 80%;
  }
}
