.cartItem {
  background-color: blue;
  display: flex;
  padding: 6%;
  width: 75%;
  margin-bottom: 5%;
  margin-top: 4%;
}

.right__container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
}
