.cartItem {
  background-color: #111111;
  display: flex;
  padding: 6%;
  width: 75%;
  margin-bottom: 5%;
  margin-top: 4%;
  border-radius: 10px;
}

.right__container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
}

.top {
  display: flex;
  align-items: center;
}
