.container {
  display: flex;
  gap: 30%;
  justify-content: center;
  height: 100%;
  z-index: 1;
  margin-top: 16%;
}

.left {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.Videobackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu2 {
  z-index: 1;
  margin-right: 10%;
  margin-top: 8%;
  /* width: 100%; */
  width: 40%;
}

.nav {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 1200px) {
  .menu2 {
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin-top: 3%;
  }
}
