/* .container {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: red;
}

button {
  width: fit-content;
} */
