/* .navbar {
  display: flex;
  background-color: orange;
  justify-content: space-between;
  padding: 1%;
}

.left {
  margin-left: 5%;
  font-size: 1.2rem;
  font-weight: bold;
}

.right {
  margin-right: 5%;
  font-size: 1.2rem;
  font-weight: bold;
}

.cart {
  border: none;
  background-color: orange;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
} */

/* try again  */

.navbar {
  display: flex;
  /* justify-content: space-between; */
  padding: 1%;
  z-index: 1;
}

.left {
  display: flex;
  width: 60%;
  font-size: 1.2rem;
  font-weight: bold;
}

.left > li {
  margin-right: 8%;
}

.right {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  width: 40%;
}
.right > li {
  margin-left: 10%;
}

/* .Cart {
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background: none;
  color: white;
} */

@media screen and (max-width: 883px) {
  .navbar {
    background-color: aqua;
  }

  .githubLink {
    display: none;
  }
  .gameStore {
    display: none;
  }
}
