.display {
  display: flex;
  justify-content: space-between;
  /* margin: 1%; */
}

.display p {
  display: inline;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
} */

/* .container {
  display: flex;
  flex-direction: column;
  background-color: blue;
} */

.display__options {
  margin-right: 7.5%;
}

.display__options > button {
  margin-right: 5px;
}

.display__filter {
  margin-left: 1%;
}

.display__filter > button {
  margin-right: 5px;
}

.container__grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.container__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__card {
  margin: 1%;
}

@media only screen and (max-width: 800px) {
  .display__options {
    display: none;
  }
  .container__grid {
    flex-direction: column;
    justify-content: center;
  }
  .container__column {
    flex-direction: column;
    justify-content: center;
  }
}
